* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #222;
    text-decoration: none;
    list-style: none;
    line-height: 2em;
}

html {
    scroll-behavior: smooth;
}

button, .nav-button {
    background: #BFE5D9;
    padding: .5em 3em;
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
}

.nav-button {
    padding: .3em 2em;
}

button:hover, button:active {
    background-color: hsl(162, 9%, 22%);
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

header {
    background: center/cover url("pexels-daria-shevtsova-1070850.jpg") no-repeat;
    object-fit: contain;
    width: 100%;
    height: 500px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2em;
}

nav a {
    padding: 0 1.5em;
    text-transform: uppercase;
    font-weight: 700;
}

nav a:last-child {
    margin-right: 4em;
    margin-left: 1em;
}

a:hover {
    font-weight: 700;
}

header .hamburger, header .close-icon {
    display: none;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.title {
    position: absolute;
    width: 700px;
    height: 300px;
    background: rgba(191, 229, 217, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Playball', cursive;
    font-size: 3em;
    color: #000;
}

#description {
    max-width: 40%;
    font-size: 1.2em;
    margin: 5em auto;
    text-align: center;
}

h3 {
    background: rgba(191, 229, 217, 1);
    width: 200px;
    padding: .5em 0em .5em 2em;
    text-align: center;
    font-size: 2em;
    font-family: 'Playball', cursive;
    margin-bottom: 3em;
}

#cakes {
    margin: 5em auto;
}

#cakes .grid {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 3% 2%;
    margin: 2%;
}

.cake-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cake-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 80%;
    align-self: center;
}

.about-section {
    margin: 5em 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    padding-right: 5em;
}

.about-photo {
    width: 200px;
    height: 250px;
    border-radius: 20px;

}

#contact {
    position: relative;
    background:hsla(162, 9%, 22%, 0.8);
    height: 400px;
    margin: 5em auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    background-image: url('carlo-buttinoni-lKCpUYu2TDk-unsplash.jpg');
    z-index: -1;
}

#contact p {
    font-size: 2em;
    color: #fff;
}

.contact-button {
    margin: 2em auto;
}

.contact-form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(162, 9%, 22%);
    width: 100%;
    height: 100%;
    text-align: center;
}

.contact-form form {
    padding: 1em;
}

label {
    display: inline-block;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
  }

input, textarea {
  font: 1em sans-serif;
  margin: 0 .5em 1.5em .5em;
}

textarea {
  vertical-align: top;
  width: 440px;
  height: 5em;
} 

.submit-button {
    padding: .5em 2em;
    margin: 1.5em;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    border: 1px solid rgb(191, 229, 217);
    color: #fff;
}

.submit-button:hover {
    background: rgb(191, 229, 217);
    color: hsl(162, 9%, 22%);
}

footer {
    height: 100%;
    padding: 2em 0;
    background-color: rgba(191, 229, 217, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}  

.footer-left p {
    font-family: 'Playball', cursive;
    font-size: 1.5em;
}

.footer-right a {
    padding: 0 .5em;
}

.footer-right i {
    padding: 0 1em;
    transform: scale(1.5);
}


@media only screen and (max-width: 960px) {
    nav a:last-child {
        margin-right: 0;
    }

    #description {
        max-width: 80%;
        margin: 5em auto;
    }

    .about-section {
        margin: 5em 10%;
    }
}

@media only screen and (max-width: 500px) {
    * {
        font-size: 14px;
    }

    header .hamburger {
        display: block;
        position: absolute;
        right: 10%;
        top: 8%;
        transform: scale(2.5);
        color: hsl(162, 9%, 22%);
        z-index: 9;
    }

    header .close-icon {
        display: block;
        transform: scale(2) translateX(2.5em);
        color: #fff;
        padding: 1em 0;
    }
 
    #nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: hsl(162, 9%, 22%);
        z-index: 10;
        transition: all .4s ease-in-out;
    }

    nav a {
        padding: 1em 0;
        color: #fff;
    }

    nav a:last-child {
        margin: 1em auto;
    }

    .title-container {
        height: 100%;
    }
    
    .title {
        width: 100%;
        height: 500px;
        text-align: center;
    }

    .title p {
        width: 80%;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        width: 120px;
        padding: .5em .5em .5em 1.5em;
    }

    .about-section {
        margin: 5em 5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .about-text {
        padding-right: 0;
        order: 2;
    }
    
    .about-photo {
        width: 200px;
        height: 250px;
        margin: 2em;
        order: 1;
    }

    label {
        width: 20%;
      }
    
    input, textarea {
        width: 65%;
    }

    footer {
        flex-direction: column;
    }  

    .footer-left {
        order: 3;
        padding-top: 1em;
    }

    .footer-middle {
        order: 2;
    }
    
    .footer-right {
        order: 1;
        padding-bottom: 1em;
    }
}