* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #222;
    text-decoration: none;
    list-style: none;
    line-height: 2em;
}

header {
    background: center/cover url("pexels-daria-shevtsova-1070850.jpg") no-repeat;
    object-fit: contain;
    width: 100%;
    height: 500px;
}

nav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 2em;
}

nav a {
    padding: 0 1.5em;
}

nav a:last-child {
    margin-right: 4em;
    margin-left: 1em;
}

.nav-button {
    background: #BFE5D9;
    color: #000;
    padding: 5px 20px;
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
}

.nav-button:hover {
    background-color: rgba(191, 229, 217. 0.8);
    text-decoration: none;
}

header .hamburger, header .close-icon {
    display: none;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.title {
    position: absolute;
    width: 700px;
    height: 300px;
    background: rgba(191, 229, 217, 0.9);
    /* mix-blend-mode: lighten; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Playball', cursive;
    font-size: 3em;
    color: #000;
}

#description {
    max-width: 40%;
    margin: 5em auto;
}

h3 {
    background: rgba(191, 229, 217, 1);
    width: 200px;
    padding: .5em 0em .5em 2em;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Playball', cursive;
    margin-bottom: 3em;
}

#cakes {
    margin: 5em auto;
}

.cake-photo {
    background: center/cover url("pexels-cats-coming-1359330.jpg") no-repeat;
    width: 100%;
    height: 400px;
    margin: 8em auto;
    background-position: top 5%;
}

#about {
    margin: 5em auto;
}

.about-section {
    margin: 5em 20%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
}

.about-text {
    padding-right: 3em;
}

.about-photo {
    width: 200px;
    height: 250px;
    background: gray;
}

#contact {
    margin: 5em auto;
}

.contact-form {
    text-align: center;
    width: 500px;
    margin: 5em auto;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    text-transform: uppercase;
  }

input, textarea {
  font: 1em sans-serif;
  width: 400px;
  margin: .5em 0;
}

input:focus, textarea:focus {
  border: 1px solid hsl(169, 22%, 9%);
}

textarea {
  vertical-align: top;
  height: 5em;
}

.contact-button {
    padding: .5em 2em;
    margin: 1em;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    background: rgb(191, 229, 217);
}

.contact-button:hover {
    opacity: .8;
}

footer {
    height: 100%;
    padding: 2em 0;
    background-color: rgba(191, 229, 217, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}  

.footer-left p {
    font-family: 'Playball', cursive;
    font-size: 1.5em;
}

.footer-right a {
    padding: 0 1em;
}

.footer-right i {
    padding: 0 1em;
    transform: scale(1.5);
}


@media only screen and (max-width: 960px) {
    nav a:last-child {
        margin-right: 0;
    }

    #description {
        max-width: 80%;
        margin: 5em auto;
    }

    .about-section {
        margin: 5em 10%;
    }

    .contact-form {
        width: 70%;
    }

}

@media only screen and (max-width: 500px) {
    * {
        font-size: 14px;
    }

    header .hamburger {
        display: block;
        position: absolute;
        right: 10%;
        top: 8%;
        transform: scale(2.5);
        color: hsl(162, 9%, 22%);
        z-index: 9;
    }

    header .close-icon {
        display: block;
        transform: scale(2) translateX(2.5em);
        color: #fff;
        padding: 1em 0;
    }
 
    #nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        background: hsl(162, 9%, 22%);
        z-index: 10;
        transition: all .4s ease-in-out;
    }

    nav a {
        padding: 1em 0;
        color: #fff;
    }

    nav a:last-child {
        margin: 1em auto;
    }

    .title-container {
        height: 100%;
    }
    
    .title {
        width: 100%;
        height: 500px;
        text-align: center;
    }

    .title p {
        width: 80%;
    }

    h1 {
        font-size: 2.5em;
    }

    h3 {
        width: 120px;
        padding: .5em .5em .5em 1.5em;
    }

    .about-section {
        margin: 5em 5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .about-text {
        padding-right: 0;
        order: 2;
    }
    
    .about-photo {
        width: 200px;
        height: 250px;
        margin: 2em;
        order: 1;
    }
    
    .contact-form {
        width: 100%;
    }

    label {
        width: 25%;
      }
    
    input, textarea {
        width: 65%;
    }

    footer {
        flex-direction: column;
    }  

    .footer-left {
        order: 3;
        padding-top: 1em;
    }

    .footer-middle {
        order: 2;
    }
    
    .footer-right {
        order: 1;
        padding-bottom: 1em;
    }
}